
body{
    margin: 0;
    padding: 0;
}
.kapsayici {
   margin: auto;
    width: 90%;
    height: 500px;
    border: solid 3px red;
    display: flex;
    flex-direction: row-reverse;
   
    
}

.kutu {
    background-color: cadetblue;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color: black;
    font-family: sans-serif;
    
}
.kutu:hover {
    color: red;
    background-color: black;
    overflow: visible;
}